RewriteEngine On
RewriteBase /

# Si le fichier ou dossier n'existe pas physiquement
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger toutes les requêtes vers index.php
RewriteRule ^(.*)$ index.php [QSA,L]

# Protection des fichiers sensibles
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Protection du dossier vendor
<IfModule mod_rewrite.c>
    RewriteRule ^vendor/ - [F,L]
</IfModule> 